


<div class="webolder"> 
     <p class="filler"> <span class="Stuff"> Web Developoment </span> <br> 
    Different web sites I have built or contributed to. </p>


<!--<div class="view view-first">  
     <img src="./images/gallery/beerThumb.png" />  
     <div class="mask">  
     <h2>BeerHive</h2>  
     <p>BeerHive Pub is a wordpress website I created for the BeerHive pub in Salt Lake City.</p>  
         <a href="http://beerhivepub.com/" class="info">View Website</a>  
     </div>  
</div> -->
<!--<div class="view view-first">  
     <img src="./images/gallery/assentrik.png" />  
     <div class="mask">  
     <h2>Assetrik</h2>  
     <p>Assentrik is a wordpress website I created for clients who wanted to distribute bamboo boxers.</p>  
         <a href="http://assentrikclothing.com/" class="info">View Website</a>  
     </div>  
</div> -->
<div class="view view-first">  
     <img src="./images/gallery/logothumb.jpg" />  
     <div class="mask">  
     <h2>SHM Designs</h2>  
     <p>The website you are using right now I coded from scartch. Take a look.</p>  
         <a href="https://github.com/smilcam/Sammiller.firebase/" class="info">View Website</a>  
     </div>  
</div> 
<div class="view view-first">  
     <img src="./images/gallery/symphony.png" />  
     <div class="mask">  
     <h2>Symphony Homes</h2>  
     <p>This is a website I helped design and also one I maintain to this day</p>  
         <a href="http://www.symphonyhomes.com/" class="info">View Website</a>  
     </div>  
</div> 
<div class="view view-first">  
     <img src="./images/gallery/journey.png" />  
     <div class="mask">  
     <h2>Journey</h2>  
     <p>Journey is a full-stack (MEAN) application that was created with myself and two other programmers.</p>  
         <a href="https://github.com/DevMountain-Journey/journey-devmtn" class="info">View Website</a>  
     </div>  
</div> 
 
<div class="view view-first">  
     <img src="./images/gallery/dojo.png" />  
     <div class="mask">  
     <h2>NO-CODE DOJO</h2>  
     <p>The NO-CODE DOJO is a website that was designed for my personal pleasure.</p>  
         <a href="https://nocodedojo.firebaseapp.com/#/" class="info">View Website</a>  
     </div>  
</div> 
<div class="view view-first">  
     <img src="./images/gallery/sporby.png" />  
     <div class="mask">  
     <h2>Sporby</h2>  
     <p>This is a website that was designed after reddit for users who extremely love sports.</p>  
         <a href="https://github.com/smilcam/Sporby" class="info">View Website</a>  
     </div>  
</div> 

<!--<div class="view view-first">  
     <img src="./images/gallery/shm.png" />  
     <div class="mask">  
     <h2>SHM Design</h2>  
     <p>This is a different portfolio site if this one doesn't quite do it for you.</p>  
         <a href="https://samportfolio.firebaseapp.com/" class="info">View Website</a>  
     </div>  
</div> -->

</div>



