<div class="pholder">
    <p class="filler"> <span class="Stuff"> Photography </span> <br>
    Various photographs I have taken of and around Salt Lake City. </p>

  <div id="thumbnails">
    <ul class="clearfix">
    
      <li><a href="images/gallery/mainArt.png" title="Alley Walk by Sam Miller"><img src="images/gallery/mainThumb.png" alt="turntable"></a></li>
      
      
      <li><a href="images/gallery/leaf.png" title="Red Focus Sam Miller"><img src="images/gallery/leafThumb.png" alt="turntable"></a></li>
      
       <li><a href="images/gallery/neko.png" title="Prince Neko by Sam Miller"><img src="images/gallery/nekoThumb.png" alt="turntable"></a></li>
       
       <li><a href="images/gallery/frame.png" title="Through The Wire by Sam Miller"><img src="images/gallery/frameThumb.png" alt="turntable"></a></li>
         
         
        <li><a href="images/gallery/parking.png" title="Green Grass White Mountains by Sam Miller"><img src="images/gallery/parkingThumb.png" alt="turntable"></a></li>
        
         
        <li><a href="images/gallery/side.png" title="Red by Sam Miller"><img src="images/gallery/sideThumb.png" alt="turntable"></a></li>
          
          
        <li><a href="images/gallery/alex.png" title="Alley Walk by Sam Miller"><img src="images/gallery/alexThumb.png" alt="turntable"></a></li>
           
           
        <li><a href="images/gallery/bike.png" title="Downtown Mountain by Sam Miller"><img src="images/gallery/bikeThumb.png" alt="turntable"></a></li>
        
        <li><a href="images/gallery/pink.png" title="Downtown Mountain by Sam Miller"><img src="images/gallery/pinkThumb.png" alt="turntable"></a></li>
            
            
        <li><a href="images/gallery/empty.png" title="Unperfection by Sam Miller"><img src="images/gallery/emptyThumb.png" alt="turntable"></a></li>
            
        <li><a href="images/gallery/duck.png" title="Yes, it's a real Swan' by Sam Miller"><img src="images/gallery/duckThumb.png" alt="turntable"></a></li>
    
    </div> 
    </div>
      
      
      
<script>
    
$(function() {
    $('#thumbnails a').lightBox();
});
    
</script>